.main-tables-container{
    display: flex;
    width: 1001px;
    margin: 0 auto;
}

.product-card--container{
    display: flex;
    flex-wrap: wrap; /* no genera un overflow */
    width: 1001px;
    margin: 0 auto; /* centrado automático */
}

.plans-container--slider{
    justify-content: center;
}
